body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#mainDiv {
    width: 500px;
    height: 500px;
    background: darkgray;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 6px rgba(0, 0, 0, 0.88);
    border: none;
}

#monitor {
    width: 300px;
    height: 250px;
    overflow-y: auto;
    background: white;
    border: 1px solid black;
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
    white-space: nowrap;
    font-family: Arial, sans-serif;
}

#monitor p {
    margin: 0;
    padding-left: 10px;
}

#listDiv {
    display: flex;
}

#buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

#myForm > p {
    margin: 10px 10px 5px 10px;
}

span {
    margin-left: 10px;
}

#input {
    margin: 5px 5px 0 0;
    border: 1px solid black;
    min-width: 300px;
    padding: 5px;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background: #2b2a2a;
    color: white;
}

#text {
    margin-top: 40px;
    font-size: 14px;
    text-align: center;
    color: #5a5a5a;
}
