/*Характеристики зовнішньої оболонки HTML_application для гаджетів розміром екрана меньше 600px */
@media screen and (max-width: 600px) {
    #mainDiv {
        width: 350px;
    }

    #labelInput {
        display: flex;
        align-content: flex-start;
        flex-direction: column;
        margin: 0;
        width: 100%;
        padding: 5px;
    }

    #input {
        width: 150px;
        margin-top: 5px;
    }

    br {
        display: none;
    }

    button {
        margin-top: 15px;
    }

    span {
        margin-left: 10px;
        width: 150px;
        height: 18px;
    }

    #myForm {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 350px;
    }

    #inputButton {
        margin-left: 100px;
    }

    #listDiv {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0;
    }

    #buttons {
        display: inline-block;
        margin: 0;
    }

    #monitor {
        height: 150px;
        margin-left: 8px;
    }

    p {
        width: 300px;
    }

    #monitor p {
        margin: 0;
        padding-left: 5px;
        font-size: 15px;
        width: 200px;
    }
}

